---
key: 3
title: About
permalink: /about/
excerpt: An information technology and security professional and enthusiast.   
image: about.jpg
background-image: about.jpg
---
{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}

<p>This site is a space for me to work on projects, learn and share, have a portfolio, and just generally engage in the community. I thoroughly enjoy training, helping people, and hopefully providing value. 

  While this is obviously under a different flag from my current employer, I'm not trying to completely be anonymous. If you would like to engage personally, send me a DM or reach out in a different way. Obviously, any content, comments, examples, are exlusively my opinion. I will not share any content or details relevant to my current position and any details that could be related will be incidental and relevant for the majority of environments. 
  
  I currently lead a security program in the SaaS EHR space. I have enjoyed quite a few years in healthcare. You can see a bit more detail of my previous experience in the [Works](https://gen3sec.io/works/) area.
  
  My interests span the majority of technology and security. I plan to share as I explore quite a few different areas, such as: home labs, CISSP, general information security, scripting in PowerShell and Python, Office365, Azure, AWS, and more. 
  
  If you play along with things I provide information on, please make sure you protect yourself and have authorization to perform activitys on the objects/systems that you are utilizing. This is solid standard advise on all projects.
  
  I am very happy with my current employer. If you are interested in contracting me or would like to chat about side projects, please reach out, I'm always game to chat about something interesting. </p>

{%  if site.posts %}{%
  if site.tags.featured %}
<hr style="margin:0 0 1em 0;" />
<h4>Featured</h4>
<ul class="post-list">{%
    for post in site.categories.about %}{%
      if post.tags contains "featured" %}
  <li>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <div class="container">
        <p class="post-title">{{ post.title }}</p>
        <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
        <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
      </div>
    </a>
  </li>{%
      endif %}{%
    endfor %}
</ul>{%
  endif %}
<hr style="margin:1em 0 1em 0;" />

<ul style="list-style-type: none;">{%
  assign p = '9999'
%}{%  for post in site.categories.about
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
  <br /><h5>{{ n }}</h5>{%
    endif %}
  <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
    <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
      {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
  endfor
%}
</ul>

{%  endif %}
